/* Front End Mentor Styling for Footer */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* General Styles */
html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Header Values */
header {
    margin-top: 45px;
    text-align: center;
}

header h2{
    margin: 0;
}

header #first-h2{
    font-weight: 200;
}

header #second-h2{
    font-weight: 600;
}

header p{
    color:  hsl(229, 6%, 66%);
    text-align: center;
    margin-bottom: 10px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "box1 box2 box4"
    ". box3 .";
    justify-items: center;
    grid-template-columns: 1fr auto 1fr;
}

/* Box Values */

.box{
    background-color: white;
    padding: 20px;
    margin: 15px 15px;
    width: 300px;
    font-size: 15px;
    color: hsl(234, 12%, 34%);
    border-radius: 4px;
    box-shadow: 0px 10px 10px 8px rgba(0,0,0,0.07);
   
    display: flex;
    flex-direction: column;
}

.box img{
    align-self: flex-end;
    
}

.box1{
    grid-area: box1;
    transform: translateY(50%);
    justify-self: end;
    border-top: 3px solid hsl(180, 62%, 55%);
}

.box2{
    grid-area: box2;
    border-top: 3px solid hsl(0, 78%, 62%);
}

.box3{
    grid-area: box3;
    border-top: 3px solid hsl(34, 97%, 64%);
}

.box4{
    grid-area: box4;
    transform: translateY(50%);
    justify-self: start;
    border-top: 3px solid hsl(212, 86%, 64%);

}

/* Media Queries */
@media screen and (max-width: 1160px){
    main{
    grid-template-areas:
    "box1 box2"
    "box3 box4";

    grid-template-columns: repeat(2, 1fr);
    }

    .box1{
        transform: translateY(0%);
        justify-self: auto;
    }
    .box4{
        transform: translateY(0%);
        justify-self: auto;
    }
}

@media screen and (max-width: 760px){
    main{
        grid-template-areas: 
        "box1"
        "box2"
        "box3"
        "box4";
        
        grid-template-columns: 1fr;
    }
}